<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Edit Question</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/global.css" rel="stylesheet"/>
</head>

<body>

<div class="container py-4">

    <h3>Edit Question</h3>

    <form th:action="@{/update/{id}(id=${question.id})}"
          th:object="${question}"
          method="post"
          class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Problem Link *</label>
            <input class="form-control" th:field="*{problemLink}" required/>
        </div>

        <div class="col-md-6">
            <label class="form-label">Problem Name</label>
            <input class="form-control" th:field="*{problemName}"/>
        </div>

        <div class="col-md-6">
            <label class="form-label">Video Id</label>
            <input class="form-control" th:field="*{videoId}"/>
        </div>

        <div class="col-md-6">
            <label class="form-label">Platform</label>
            <input class="form-control" th:field="*{platform}"/>
        </div>

        <div class="col-md-4">
            <label class="form-label">Difficulty</label>
            <select class="form-select" th:field="*{difficulty}">
                <option value="">-- Select --</option>
                <option value="EASY">EASY</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="HARD">HARD</option>
            </select>
        </div>

        <div class="col-md-4">
            <label class="form-label">Topics</label>
            <label>
                <input class="form-control"
                       th:value="${question.topicNames}"
                       name="topicsInput"/>
            </label>
        </div>


        <div class="col-md-4">
            <label class="form-label">Patterns</label>
            <label>
                <input class="form-control"
                       th:value="${question.patternNames}"
                       name="patternsInput"/>
            </label>
        </div>


        <div class="col-md-3">
            <label>Solved?</label>
            <label>
                <input class="form-check-input ms-2" type="checkbox" th:field="*{solved}"/>
            </label>
        </div>

        <div class="col-md-3">
            <label>Revise Count</label>
            <label>
                <input class="form-control" type="number" th:field="*{reviseCount}"/>
            </label>
        </div>

        <div class="col-12">
            <button class="btn btn-primary">Update</button>
            <a href="/questions" class="btn btn-secondary ms-2">Cancel</a>
        </div>

    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
