<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout/base :: parent(_, _, _, ~{::content}, _)}">

<section th:fragment="content" class="container page">

    <!-- Page Header -->
    <header>
        <h2>DSA Tracker</h2>

        <nav>
            <ul>
                <li>
                    <a href="/questions" role="button" class="secondary">
                        View All Questions
                    </a>
                </li>
                <li>
                    <a href="/random" role="button">
                        Open Random Problem
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Add Question Form -->
    <article class="form-card">

        <header>
            <strong>Add Question</strong>
        </header>
        <!--        <p th:text="${request}"></p>-->
        <form th:action="@{/questions}" th:object="${request}" method="post">

            <fieldset>
                <label>
                    Problem Link *
                    <input type="url"
                           th:field="*{problemLink}"
                           required>
                </label>

                <label>
                    Problem Name
                    <input type="text" th:field="*{problemName}">
                </label>

                <section class="grid">
                    <label>
                        Video ID
                        <input type="text" th:field="*{videoId}">
                    </label>

                    <label>
                        Platform
                        <input type="text"
                               th:field="*{platform}"
                               placeholder="LEETCODE / GFG">
                    </label>

                    <label>
                        Difficulty
                        <select th:field="*{difficulty}" required>
                            <option selected disabled value="">-- Select --</option>
                            <option value="EASY">EASY</option>
                            <option value="MEDIUM">MEDIUM</option>
                            <option value="HARD">HARD</option>
                        </select>
                    </label>
                </section>

                <section class="grid">
                    <th:block th:replace="~{fragments/ui/autosuggest :: autosuggest(
                                                        'Topics (comma separated)',
                                                        'topicsInput',
                                                        null,
                                                        '/api/suggestions/topics',
                                                        true,
                                                        'Array, Hash Table'
                                                    )}"/>

                    <th:block th:replace="~{fragments/ui/autosuggest :: autosuggest(
                                                    'Patterns (comma separated)',
                                                    'patternsInput',
                                                    null,
                                                    '/api/suggestions/patterns',
                                                    true,
                                                    'Two Pointers'
                                                )}"/>
                </section>


                <section class="grid">
                    <label>
                        <input type="checkbox" th:field="*{solved}">
                        Solved?
                    </label>
                    <label>
                        Revise Count
                        <input type="number"
                               th:field="*{reviseCount}"
                               min="0">
                    </label>
                </section>

            </fieldset>

            <!-- Actions -->
            <section class="actions-single">
                <button type="submit">Save</button>
            </section>

            <!-- Messages -->
            <p th:if="${successMessage}" class="alert-success">
                <strong>✔</strong>
                <span th:text="${successMessage}"></span>
            </p>

            <p th:if="${errorMessage}" class="alert-error">
                <strong>✖</strong>
                <span th:text="${errorMessage}"></span>
            </p>

        </form>
    </article>

</section>
</html>
