<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout/base :: parent(~{::title}, _, _, ~{::content}, _)}">

<title>All Questions</title>

<section th:fragment="content" class="container page">

    <!-- Page Header -->
    <header>
        <h2>All Questions</h2>

        <nav>
            <ul>
                <li>
                    <a href="/" role="button">Add New Question</a>
                </li>
                <li>
                    <a href="/export/excel" role="button" class="secondary">
                        Export to Excel
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Alerts -->
    <p th:if="${successMessage}"
       class="alert-success"
       th:text="${successMessage}">
    </p>

    <p th:if="${errorMessage}"
       class="alert-error"
       th:text="${errorMessage}">
    </p>


    <!-- Filters -->
    <article class="filters">

        <form method="get">

            <!-- Inputs Grid -->
            <div class="filters-grid">
                <label>
                    <input name="search"
                           type="search"
                           th:value="${search}"
                           placeholder="Search Questions"
                           aria-label="Search Questions"
                    >
                </label>

                <label>
                    <select name="difficulty">
                        <option value="">Difficulty</option>
                        <option value="EASY" th:selected="${difficulty == 'EASY'}">EASY</option>
                        <option value="MEDIUM" th:selected="${difficulty == 'MEDIUM'}">MEDIUM</option>
                        <option value="HARD" th:selected="${difficulty == 'HARD'}">HARD</option>
                    </select>
                </label>

                <label>
                    <input name="platform"
                           th:value="${platform}"
                           placeholder="Platform">
                </label>

                <th:block th:replace="~{fragments/ui/autosuggest :: autosuggest(
                                                        _,
                                                        'topic',
                                                        ${topic},
                                                        '/api/suggestions/topics',
                                                        false,
                                                        'Topic'
                                                    )}"/>

                <th:block th:replace="~{fragments/ui/autosuggest :: autosuggest(
                                                    _,
                                                    'pattern',
                                                    ${pattern},
                                                    '/api/suggestions/patterns',
                                                    false,
                                                    'Pattern'
                                                )}"/>


                <label>
                    <select name="size" onchange="this.form.submit()">
                        <option value="5" th:selected="${size == 5}">5</option>
                        <option value="10" th:selected="${size == 10}">10</option>
                        <option value="20" th:selected="${size == 20}">20</option>
                        <option value="50" th:selected="${size == 50}">50</option>
                    </select>
                </label>
            </div>

            <!-- Actions -->
            <div class="filter-button-group">
                <button type="submit" class="filter-button">Filter</button>
                <a th:href="@{/questions}" class="filter-link">
                    Reset
                </a>
            </div>


            <input type="hidden" name="page" value="0"/>

        </form>
    </article>


    <!-- Table -->
    <article>

        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th>Video</th>
                    <th>Problem</th>
                    <th>Platform</th>
                    <th>Difficulty</th>
                    <th>Topics</th>
                    <th>Patterns</th>
                    <th>Status</th>
                    <th>Revise</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="q : ${questions}">

                    <td th:text="${q.videoId}"></td>

                    <td>
                        <a th:href="${q.problemLink}"
                           target="_blank"
                           th:text="${q.problemName}">
                        </a>
                    </td>

                    <td th:text="${q.platform}"></td>
                    <td th:text="${q.difficultyLabel}"></td>

                    <td>
                        <small th:each="t : ${#strings.arraySplit(q.topicNames, ',')}"
                               th:text="${t} + ' '"></small>
                    </td>

                    <td>
                        <small th:each="p : ${#strings.arraySplit(q.patternNames, ',')}"
                               th:text="${p} + ' '"></small>
                    </td>

                    <td>
                        <strong th:text="${q.solved} ? 'Solved' : 'Pending'"></strong>
                    </td>

                    <td th:text="${q.reviseCount}"></td>

                    <td class="table-actions">
                        <a th:href="@{/solve/{id}(id=${q.id})}" >Toggle</a>
                        <a th:href="@{/revise/{id}(id=${q.id})}" >+Revise</a>
                        <a th:href="@{/questions/edit/{id}(id=${q.id})}">Edit</a>
                        <a th:href="@{/delete/{id}(id=${q.id})}">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </figure>

        <!-- Pagination -->
        <nav th:if="${totalPages > 1}">
            <ul>
                <li th:if="${page > 0}">
                    <a th:href="@{/questions(
                        page=${page - 1},
                        size=${size},
                        search=${search},
                        difficulty=${difficulty},
                        platform=${platform},
                        topic=${topic},
                        pattern=${pattern}
                    )}">
                        Prev
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/questions(
                        page=${i},
                        size=${size},
                        search=${search},
                        difficulty=${difficulty},
                        platform=${platform},
                        topic=${topic},
                        pattern=${pattern}
                    )}"
                       th:text="${i + 1}">
                    </a>
                </li>

                <li th:if="${page < totalPages - 1}">
                    <a th:href="@{/questions(
                        page=${page + 1},
                        size=${size},
                        search=${search},
                        difficulty=${difficulty},
                        platform=${platform},
                        topic=${topic},
                        pattern=${pattern}
                    )}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

    </article>

</section>
</html>
